/EFCoreApp/EFCoreApp/obj
/EFCoreApp/EFCoreApp/bin
/EFCoreApp/.vs
/EFCoreApp/Entities/obj
/EFCoreApp/Entities/bin
/Start/EFCoreApp/.vs
/Start/EFCoreApp/EFCoreApp/obj
/Start/EFCoreApp/EFCoreApp/bin
/Start/EFCoreApp/Entities/obj
/Start/EFCoreApp/Entities/bin
/End/EFCoreApp/.vs
/End/EFCoreApp/EFCoreApp/obj
/End/EFCoreApp/EFCoreApp/bin
/End/EFCoreApp/Entities/obj
/End/EFCoreApp/Entities/bin
